<h3>Privacy Policy</h3>

<p>
  Data obtained through the YNAB API is only used to create Card Links and communicate with the YNAB API when a transaction from Privacy.com comes in.
</p>

<p>
  Data is stored in a database managed by Heroku which is backed up and encrypted by them. A user is required to authenticate with YNAB in order to use the application.
</p>

<p>
  This application does not store any personal or financial information.
</p>

<p>
  Data obtained through the application will not knowingly be shared with any third parties.
</p>

<p>
  This application will never ask for financial institution credentials.
</p>

<%= link_to 'Back to YNAB Privacy Linker :)', root_path, class: 'btn btn-primary-indigo btn-lg'  %>
