<!--<h2>Select Budget</h2>-->
<%#= select("name", "id", @budgets.collect { |b| [b.name, b.id]}, { include_blank: true })%>

<% content_for :head do  %>
  <base href="/links">
<% end %>

<ynab-privacy-ng>Loading...</ynab-privacy-ng>
