<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon>swap_horiz</mat-icon>
        <mat-icon></mat-icon>
        <a style="color:white; text-decoration: none" href="/">YNAB - Privacy Linker</a>

    </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 2em;">
    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">build</mat-icon>
                Create Category / Card Links
            </ng-template>
            <h2>Create Card Links</h2>
            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step>
                    <ng-template matStepLabel>{{ selectedBudgetMessage() }}  </ng-template>
                    <mat-form-field class="stepper_dropdown">
                        <mat-select  placeholder="Select a Budget" [(ngModel)]="selectedBudget"
                                     (selectionChange)="budgetDropdownSelect($event.value)" #budgetDropdown>
                            <mat-option *ngFor="let budget of budgets" [value]="budget"> {{ budget.name }} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="selectedBudget && !budgetDropdown.panelOpen"
                            mat-stroked-button matStepperNext>Next</button>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>{{ selectedAccountMessage() }}</ng-template>
                    <div *ngIf="(accounts$ | async) as accounts">
                        <mat-form-field class="stepper_dropdown">
                            <mat-select placeholder="Funding Account" [(ngModel)]="selectedAccount"
                                        #accountDropdown >
                                <mat-option *ngFor="let account of accounts" [value]="account">
                                    {{ account.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="selectedAccount && !accountDropdown.panelOpen"
                                mat-stroked-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> {{ selectedCategoryMessage() }} </ng-template>
                    <div *ngIf="(category_groups$ | async) as category_groups">
                        <mat-form-field class="stepper_dropdown">
                            <mat-select placeholder="Select a Category" [(ngModel)]="selectedCategory" #categoryDropdown>
                                <mat-optgroup *ngFor="let category_group of category_groups" [label]="category_group.name">
                                    <mat-option *ngFor="let category of category_group.categories" [value]="category">
                                        {{ category.name }}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="selectedCategory && !categoryDropdown.panelOpen"
                                mat-stroked-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select a Card(s)</ng-template>
                    <mat-form-field class="stepper_dropdown">
                        <mat-select placeholder="Privacy.com Cards" [(ngModel)]="selectedCards" multiple #cardDropdown>
                            <mat-option style="width:25em;" *ngFor="let card of (cards$ | async)"
                                        [value]="card" [disabled]="disableOption(card)">
                                {{ cardName(card) }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="selectedCards.length > 0 && !cardDropdown.panelOpen"
                            mat-raised-button color="primary"
                            [disabled]="creating"
                            (click)="createLinks(stepper)"> Create Links! </button>
                </mat-step>
            </mat-vertical-stepper>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>swap_horiz</mat-icon>
                <span [matBadge]="categoryCardLinks.length"
                      matBadgeColor="primary"
                      [matBadgeHidden]="categoryCardLinks.length == 0"
                      matBadgeOverlap="false">
                Existing Card Links
            </span>
            </ng-template>
            <div *ngIf="categoryCardLinks.length > 0">

            <h2> Created Card Links </h2>
            <table  cellpadding="10">
                <tr>
                    <th>YNAB Budget</th>
                    <th>Funding Account</th>
                    <th>Category</th>
                    <th>Privacy Card</th>
                    <th></th>
                </tr>
                <tr *ngFor="let cardLink of categoryCardLinks">
                    <td> {{ cardLink.budget_name }} </td>
                    <td> {{ cardLink.account_name }} </td>
                    <td> {{ cardLink.category_name }} </td>
                    <td> {{ cardLink.privacy_card_name }} </td>
                    <td>
                        <button (click)="deleteLink(cardLink.id)" mat-icon-button>
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
            </div>
            <div *ngIf="categoryCardLinks.length == 0">
               <p>Create some links to automatically import transactions :)</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
