
<mat-form-field>
    <mat-select placeholder="Select a budget" (selectionChange)="dropdownSelect($event.value)">
        <!--<mat-option>None</mat-option>-->
        <mat-option *ngFor="let budget of (budgets$ | async)" [value]="budget"> {{ budget.name }} </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="(category_groups$ | async) as category_groups; else budget_not_selected">
    <mat-form-field>
        <mat-select placeholder="Select a category" (selectionChange)="categoryDropdownSelect($event.value)">
            <mat-optgroup *ngFor="let category_group of category_groups" [label]="category_group.name">
                <mat-option *ngFor="let category of category_group.categories" [value]="category">
                    {{ category.name }}
                </mat-option>
            </mat-optgroup>
        </mat-select>

    </mat-form-field>
</div>

<ng-template #budget_not_selected>
    select a budget to load categories...
</ng-template>